
/* Your CSS Code here. */
p.hello-accio{
    margin-left: 32px;
    color: white;
    padding: 10px;
}
main.accio#job{
    height: 150px;
    width: 150px;
    background-color: black;
}
